In [1]:
import pandas as pd
import numpy as np
dataset = pd.DataFrame(np.random.randn(5, 3),
index=['a', 'c', 'e', 'f', 'h'],columns=['stock1','stock2', 'stock3'])
dataset.rename(columns={"one":'stock1',"two":'stock2',"three":'stock3'}, inplace=True)
dataset = dataset.reindex(['a', 'b', 'c', 'd', 'e','f', 'g', 'h'])
print (dataset)

     stock1    stock2    stock3
a  1.109737  0.314096 -1.296437
b       NaN       NaN       NaN
c  0.257069 -0.425328  0.661188
d       NaN       NaN       NaN
e  0.069195  0.218436 -0.474401
f  2.041745 -2.345870 -1.202188
g       NaN       NaN       NaN
h  2.193386  0.991513 -1.308542

In [2]:
import numpy as np
np.random.randn(5, 3)

array([[-1.37719558, -1.3404406 , -0.1928786 ],
       [-0.63399132,  1.14276657,  0.63809051],
       [-0.74536504,  0.9902669 ,  1.26432432],
       [-0.20753602,  1.19376156, -0.09628837],
       [ 0.48153387,  0.10642787,  1.67740408]])

In [3]:
print (dataset['stock1'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: stock1, dtype: bool

In [4]:
print (dataset)
dataset.fillna(0)

     stock1    stock2    stock3
a  1.109737  0.314096 -1.296437
b       NaN       NaN       NaN
c  0.257069 -0.425328  0.661188
d       NaN       NaN       NaN
e  0.069195  0.218436 -0.474401
f  2.041745 -2.345870 -1.202188
g       NaN       NaN       NaN
h  2.193386  0.991513 -1.308542

     stock1    stock2    stock3
a  1.109737  0.314096 -1.296437
b  0.000000  0.000000  0.000000
c  0.257069 -0.425328  0.661188
d  0.000000  0.000000  0.000000
e  0.069195  0.218436 -0.474401
f  2.041745 -2.345870 -1.202188
g  0.000000  0.000000  0.000000
h  2.193386  0.991513 -1.308542

In [7]:
print (dataset)
dataset.replace(np.nan, 0)

     stock1    stock2    stock3
a  1.109737  0.314096 -1.296437
b       NaN       NaN       NaN
c  0.257069 -0.425328  0.661188
d       NaN       NaN       NaN
e  0.069195  0.218436 -0.474401
f  2.041745 -2.345870 -1.202188
g       NaN       NaN       NaN
h  2.193386  0.991513 -1.308542

     stock1    stock2    stock3
a  1.109737  0.314096 -1.296437
b  0.000000  0.000000  0.000000
c  0.257069 -0.425328  0.661188
d  0.000000  0.000000  0.000000
e  0.069195  0.218436 -0.474401
f  2.041745 -2.345870 -1.202188
g  0.000000  0.000000  0.000000
h  2.193386  0.991513 -1.308542

In [6]:
print (dataset)
dataset.dropna()

     stock1    stock2    stock3
a  1.109737  0.314096 -1.296437
b       NaN       NaN       NaN
c  0.257069 -0.425328  0.661188
d       NaN       NaN       NaN
e  0.069195  0.218436 -0.474401
f  2.041745 -2.345870 -1.202188
g       NaN       NaN       NaN
h  2.193386  0.991513 -1.308542

     stock1    stock2    stock3
a  1.109737  0.314096 -1.296437
c  0.257069 -0.425328  0.661188
e  0.069195  0.218436 -0.474401
f  2.041745 -2.345870 -1.202188
h  2.193386  0.991513 -1.308542